.root {
    -fx-font-family: "Poppins";
    -fx-background-color: #F6F1E9;
}

#lblTitle {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

#lblUsername, #lblPassword, #lblUlangPassword {
    -fx-font-weight: bold;
}

.label {
    -fx-text-fill: #333333;
}

#lblSignIn {
    -fx-text-fill: #FF5F1F;
}

#lblSignIn:hover {
    -fx-cursor: hand;
    -fx-underline: true;
    -fx-text-fill: #CC5500;
}

.button {
    -fx-background-color: #4F200D;
    -fx-text-fill: white;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-text-fill: #D3D3D3;
    -fx-cursor: hand;
}

.text-field {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #D3D3D3;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
